html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #000 #313131;
}
#loadingWindow{
    background-color: #d1d1d1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 90000;
    img{
        filter: drop-shadow(0px 0px 10px #525252);
        width: 100px;
        height: 100px;
    }
    div{
        box-shadow: 0px 0px 1px #000;
        height: 2px;
        width: 100px;
        div{
            height: 100%;
            width: 100%;
            background-color: #000;
            animation: progress 5s ease-in-out 1;
        }
        @keyframes progress {
            from{
                width: 0%;
            }
            to{
                width: 100%;
            }
        }
    }
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner/bk.gif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .banner_filter{
        background: radial-gradient(ellipse at center, rgba(255,255,255,0) 50%, rgba(0, 0, 0,1));
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation: bannerCourtain 5.5s linear 1;
        @keyframes bannerCourtain {
            0%{
                background-color: #000;
            }
            95%{
                background-color: #000;
            }
            100%{
                background: radial-gradient(ellipse at center, rgba(255,255,255,0) 50%, rgba(0, 0, 0,1));
            }
        }
        .banner_filter_IMGcontainer{
            width: 50%;
            max-width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img{
                width: 100%;
            }
            .bannIMG1{
                position: inline;
                animation: bannerAnimation 1s infinite ease-in-out;
            }
            .bannIMG2{
                position: absolute;
                animation: bannerAnimation 5s infinite ease-in-out;
            }
            .bannIMG3{
                position: absolute;
                animation: bannerAnimation 1s infinite reverse ease-in-out;
            }
            @keyframes bannerAnimation {
                0%{
                    filter: drop-shadow(0px 0px 10px #4a1fad);
                }
                33%{
                    filter: drop-shadow(0px 0px 10px #aa1f1f);
                }
                66%{
                    filter: drop-shadow(0px 0px 10px #3e9217);
                }
                100%{
                    filter: drop-shadow(0px 0px 10px #4a1fad);
                }
            }
        }
        ul{
            border-top: 4px double #fff;
            padding-top: 15px;
            width: 50%;
            max-width: 500px;
            list-style: none;
            display: flex;
            justify-content: space-around;
            gap: 10px;
            li{
                a{
                    font-family: "Work Sans", sans-serif;
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: #fff;
                    filter: drop-shadow(0px 0px 1px #000);
                }
                a:hover{
                    filter: drop-shadow(0px 0px 5px #fff);
                }
            }
        }
    }
}
.info{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    video{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }
    p{
        width: 50%;
        max-width: 600px;
        min-width: 350px;
        text-align: justify;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border: 4px solid rgba(0, 0, 0, 0.1);
        padding: 30px 20px;
        border-radius: 5px;
        position: absolute;
        z-index: 100;
    }
}
.socials{
    background-color: #bebebe;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0px;
    iframe{
        min-width: 400px;
        width: 50%;
        max-width: 600px;
    }
    a{
        min-width: 400px;
        width: 50%;
        max-width: 600px;
        overflow: hidden;
        border-radius: 15px;
        img{
            width: 100%;
        }
    }
    blockquote{
        min-width: 400px;
        width: 50%;
        max-width: 600px;
    }

}
footer{
    height: 50px;
    width: 100%;
    background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 100%);
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    gap: 5px;
    z-index: 90000;
    a{
        position: relative;
        text-decoration: none;
        font-weight: bold;
        filter: drop-shadow(0px 0px 1px #000);
    }
    a:first-child{
        font-family: "Macondo", cursive;
        color: #fff;
        font-size: 2rem;
    }
    a:last-child{
        font-family: "Macondo", cursive;
        font-size: 1rem;
        color: #fff;
        display: flex;
        svg{
            margin-right: 5px;
            width: 1rem;
            height: 1rem;
        }
    }
    a::after{
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0px;
        height: 2px;
        background-color: #fff;
        transition: width 0.3s, left 0.3s;
    }
    a:hover::after{
        width: 100%;
        left: 0px;
    }
}
.parallax{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    .parallax_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        h3{
            font-family: "Gloria Hallelujah", cursive;
            color: #000;
            font-size: 1.2rem;
            font-weight: bold;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 10px;
        }
        p{
            width: 500px;
            font-family: "Special Elite", system-ui;
            font-size: 1rem;
            color: #000;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 2px;
            padding: 20px;
        }
    }
}
.parallax:nth-child(2){
    background-image: url(../img/albums/SITS.webp);
}
.parallax:nth-child(3){
    background-image: url(../img/albums/ShoegazingKids.webp);
}
.parallax:nth-child(4){
    background-image: url(../img/albums/Pursuit.webp);
}
.parallax:nth-child(5){
    background-image: url(../img/albums/Survivor.webp);
}
.parallax:nth-child(6){
    background-image: url(../img/albums/BillyBelive.webp);
}
.parallax:nth-child(7){
    background-image: url(../img/albums/16dreamsAminute.webp);
}
.parallax:nth-child(8){
    background-image: url(../img/albums/LiveMexico.webp);
}























